*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body{
    background: #a14c4c;
    color: #ffffff;

}

.navbar{
    background: #b22222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    position: sticky;
    top: 0;

}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;

}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.navbar a:hover {
    color: #a14c4c;

}
    

.hero {
    background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092') no-repeat center/cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;

    }

    .hero h2 {
        font-size: 20px;

    }
    .hero p {
        font-size: 20px;
        margin: 10px 0;

    }

    .buttom {
        display: inline-block;
        background: #b22222;
        padding: 60px;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        margin-top: 20px;

    }


    .menu {
        padding: 80px 5%;
        text-align: center;

    }

    .menu h2 {
        font-size: 48px;
        margin-bottom: 20px;

    }

    .menu h3 { 
        padding: 20px 20px 10px;
        font-size: 20px;
    }

    .menu p {
       padding: 0 20px;
         font-size: 16px;
    }

    .menu-grid {
      display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;

    }

    .item img { 
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .menu strong {
        display: block;
        padding: 0 20px;
        font-size: 22px;
        color: #b22222;

    }

.sobre {
  padding: 80px 5%;
  background: #b22222;
}

.sobre h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}

.sobre-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.sobre img {
  flex: 1;
  max-width: 450px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}


    .contato {
        padding:80px 5%;
        text-align: center;

    }

    .contato h2 {
        font-size: 48px;
        margin-bottom: 20px;
        color: #fff;

    }

    .contato p {
        font-size: 20px;
        margin-bottom: 30px;
        color: #fff;

    }

    .footer {
        background: #b22222;
        color: white;
        text-align: center;
        padding: 15px;
        margin-top: 20px;
    }

    .item {
        position: relative;
        width: 300px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgb(255, 255, 255);
        background-color: #6e2121;
    }
    .badge {
        position: absolute;
    top: 10px;
    left: 10px;
    background-color: #b22222;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    }
    .logo {
        display: grid;
        align-items: center;    
        height: 100px;
        width: 100px;
        border-radius: 50px;
          
    }

    .btn {
        display: inline-block;
        background: #b22222;
        padding: 12px 24px;
        color: white;
        font-weight: 600;
        transition: 0,3s;
        border-radius: 8px;

    }

    .btn:hover {
        filter: brightness(0.9);
        transform: translateY(-2px);

    }

    html {
    scroll-behavior: smooth;
}

